.col-5 {
    margin-left: 8px;
}

.img-hd {
    height: 80px;
}

/* .content {
    width: 90%;
    padding: 0px 56px;
} */

.ant-menu-custom {
    background: #E4E4D0;
    min-height: 95vh;
}

.buton {
    height: 100px;
    z-index: 100;
    position: fixed;
    bottom: -24px;
    right: 56px;
}

.nav-item {
    padding: 0 16px;
}
.custom a {
    color: #fff !important;
}